[data-photoflex-container] {
  padding: 30px;
  position: relative;
  text-align: center;
  background-color: #ececec;

  .canvas-wrapper {
    display: inline-block;
    background-color: white;
    line-height: 1;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    canvas {
      display: block;
      cursor: all-scroll;
    }
    .selection {
      position: absolute;
      width: 300px;
      height: 300px;
      outline: 1px solid transparent;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &.viewport {
        border-color: red;
        outline-color: red;
        .box {
          background-color: red;
          border-color: inherit;
        }
        .btn-icon {
          background-color: red;
        }
      }
      &.image {
        border-color: #23ae3a;
        outline-color: #23ae3a;
        .box {
          background-color: #23ae3a;
          border-color: inherit;
        }
        .btn-icon {
          background-color: #23ae3a;
        }
      }
      button {
        margin: 0;
      }
      .btn-icon {
        border: none;
        line-height: 1;
        padding: 4px;
        border-radius: 50px;
        color: #ccc;
        opacity: 0.7;
        display: none;
        &:hover {
          opacity: 0.8;
        }
      }
      .btn-move {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-110%);
        display: none;
        cursor: all-scroll;
      }
      .btn-resizer {
        position: absolute;
        bottom: 0;
        left: 100%;
        cursor: se-resize;
        transform: translate(10%, 10%);
        & > svg {
          transform: rotate(-45deg);
        }
      }
      .size-box {
        position: absolute;
        top: 100%;
        left: -1px;
        box-sizing: border-box;
        display: flex;
        // background-color: red;
        // border-color: red;
        .size-text {
          user-select: none;
          font-size: 12px;
          padding: 8px;
          border: 1px solid inherit;
          color: white;
          white-space: nowrap;
        }
        .btn-range-lock {
          background-color: transparent;
          border: none;
          background-color: inherit;
        }
      }
      .area-box {
        position: absolute;
        top: 0;
        right: -1px;
        transform: translate(0, -100%);
        box-sizing: border-box;
        display: flex;
        .area-text {
          user-select: none;
          font-size: 12px;
          padding: 8px;
          background-color: inherit;
          border: 1px solid inherit;
          color: white;
          white-space: nowrap;
        }
      }
      &.editing {
        .btn-icon {
          display: flex;
          color: white;
        }
      }
    }
  }
  .range-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000004d;
    font-size: 0.85rem;
    z-index: 100;
    .range-box {
      background-color: white;
      min-width: 260px;
      text-align: left;
      & > h3 {
        margin: 0;
        padding: 10px 20px;
      }
      .range-list {
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        & > li {
          padding: 5px 20px;
          &.active {
            background-color: #cff4ff;
          }
          &:hover {
            background-color: aliceblue;
          }
        }
      }
      .range-input {
        padding: 0px 20px 10px;
        display: flex;
        border-bottom: 1px solid #cdcdcd;
        & > input {
          margin-right: 4px;
        }
      }
      .footer {
        padding: 10px 20px;
        border-top: 1px solid #cdcdcd;
        text-align: right;
      }
    }
  }
}
